@charset "utf-8";

@import 'bootstrap';

@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);



@import 'font-awesome.min';
@import 'common/common';

.top-sidebar-menus{
  a{
    font-weight: 400;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;;
  }
  margin: 0px;
  padding: 20px 15px 30px 15px;
  list-style: none;
  li{
    list-style: none;
    display: block;
    position: relative;
    &:after{
      // content:'';
      // position: absolute;
      // width: 10px;
      // height: 10px;
      // // background: #575757;
      // @include c-border-radius(50%,50%,50%,50%);
      // top: 50%;
      // margin-top: -5px;
      // left: -5px;
    }
    a{
      display: block;
      // background: #333;
      color: #777;
      margin: 0 0 5px;
      padding: 10px 15px;
      text-transform: uppercase;
      text-shadow: -1px -1px 0 #595959;
      text-decoration: none;
      &:hover{
        text-decoration: none;
        background: #222;
      }
    }
  }
}

.open-source-category{
  padding: 20px 0;
  display: block;
  ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    li{
      display: inline-block;
      margin-right: 10px;
      position: relative!important;
      top: auto!important;
      right: auto!important;
      left: auto!important;
      bottom: auto!important;
      &:last-child{
        margin-right: 0
      }
      a{
        padding: 10px 15px;
        border: 1px solid #ccc;
        display: block;
        @include c-border-radius(4px,4px,4px,4px);
        font-size: 17px;
        background: #cb0500;
        color: #fff;
        text-decoration: none;
        @include c-transition(all,0.3s, linear,0.04s);
        &:hover,&:active,&:focus{
          background: darken(#cb0500,10%);
        }
        &.active{
          background: darken(#cb0500,20%);
          text-decoration: none;
        }
      }
    }
  }
}
.open-source-projects{
  padding: 20px 0;
  ul{
    display: block;
    width: 100%;
    li{
      display: block;
      width: 100%;
      list-style: none;

    }
  }
}
.category-page{
  padding: 20px 0;
}
.project-box{
  display: block;
  margin-left: 360px;
  .project-box-left{
    margin-left: -360px;
    display: block;
    width: 360px;
    float: left;
    padding: 0 10px 0 0;
    .title{
      display: block;
      background: #333;
      color: #fff;
      padding: 15px;
      font-size: 24px;
      text-align: right;
      margin-top: 0;
    }
    .category{
      font-size: 17px;
      background: orange;
      color: #fff;
      display: table;
      margin-right: 0;
     margin-left: auto;
     padding: 10px;
    }
    .languages{
      margin: 0 0 0 auto;
      display: table;
      width: auto;
      li{
        display: block;
        list-style: none;
        width: auto;
        text-align: right;
        label{
          text-align: right;
        }
      }
    }
  }
  .project-box-right{
    display: block;
    .social-media-accounts{
      width: auto;
      li{
        width: 20px;
        height: 20px;
        display: table;
        float: left;
        margin: 0 -2px;
        .label{

        }
        .label:empty{
          display: inline-block;
        }
      }
    }
  }
}
.category-image{
  width: 64px;
  height: 64px;
  display: block;
  img{
    width: 100%;
  }
}
.project-contrib{
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  img{
    max-width: 100%;
    @include c-border-radius(50%,50%,50%,50%)
  }
}

.project-footer-ul{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    b{
      vertical-align: middle;
    }
  }
}

.section-join{
  padding: 40px 0;
  background: #e3e3e3;
  .inner-join{
    position: relative;
    padding-top: 10px;
    &:before{
      content: "";
      width: 100%;
      height: 6px;
      background: #d30000;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after{
      content: "";
      width: 100%;
      height: 2px;
      background: #a90101;
      position: absolute;
      top: 8px;
      left: 0;
    }

  }
}

/** Project list section **/
$project-list-width: 100%/4;
$project-list-width-md: 100%/3;
$project-list-width-sm: 100%/2;
$project-list-width-xs: 100%;

.project-list-wrapper{
  display: block;
  &:after{
    content:'';
    width: 100%;
    display: table;
    clear: both;
  }
  .project-list{
    display: block;
    width: $project-list-width;
    float: left;
    padding-right: 25px;
    @media all and (max-width: $screen-xs - 1){
      width: $project-list-width-xs;
    }
    @media all and (min-width: $screen-xs) and (max-width: $screen-sm - 1){
      width:$project-list-width-sm;
    }
    @media all and (min-width: $screen-sm) and (max-width: $screen-md - 1){
      width: $project-list-width-md;
    }
  }
}
// .project-list.home{
//   width: 49%;
// }
$team-member-width: 100%;
.company-info{
  h2{
    margin-bottom: 30px;
  }
  .well.description{
    background: #fff;
    border: 1px solid #ddd;
    display: table;
    margin: 10px auto;
    font-size: 20px;
    margin-bottom: 30px;
  }
}
.team-members{
  display: block;
  padding: 40px 60px;
  h2{
    margin-bottom: 30px;
  }
  .each-team-member{
    display: block;
    width: $team-member-width/4;
    float: left;
    padding: 0 30px;
    margin-bottom: 30px;
    .profile-image{
      display: block;
      width: 100%;
      img{
        width: 100%;
        border-radius: 50%;
        border: 1px solid #ddd;
        padding: 10px;
        background: #fff;
        @include c-box-shadow-outer(2px,2px,1px,0,#ccc);
      }
    }
    .profile-name{
      a{
        color: #333;
      }
    }
  }
}
.white-class{
  position: relative;
  display: table;
  width: 100%;
  hight: 100%;
  &:after{
    display: block;
    content:'';
    background: rgba(255,255,255,0.9);
    position: fixed;
    z-index: 1001;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
.home-fixed-wrapper{
  position: relative;
  width: 100%;
  overflow: hidden
}
.home-about-section{
  display: block;
  background: #fff;
  min-height: 100vh;
  position: relative;
}
.inner-home-about{
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  padding: 80px 0 40px;
  position: absolute;
  h3{
    margin-bottom: 30px;
  }
}
.landing-home{
  margin-left: -260px;
  display: block;
  color: #000;
}
.land-one{
  width: 100%;
  height: 100vh;
  background: #c83c29;
  .navbar{
    @include c-border-radius(0,0,0,0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0px;
    border: none;
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0));
    height: 120px;
  }
  .navbar-brand{
    padding-top:30px;
    height: 120px;
  }
  .navbar-nav{
    li{
      a{
        font-size: 16px;
        color: rgba(255,255,255,0.5);
        font-weight: bold;
        text-transform: uppercase;
        padding-top: 40px;
        padding-bottom: 40px;
        &:hover,&:active,&:focus{
          color:#e2574c;
        }
      }
    }
  }
  .land-one-content{
    padding-top: 120px;
    height: 100vh;
    background: url('../images/main_bg.jpg');
    background-repeat: repeat;
    display: table;
    width: 100%;
    .land-one-inner{
      display: table-cell;
      vertical-align: middle;
      h1{
        margin-top: -40px;
        color: #fff;
        font-size: 64px;
        position: relative;
        padding: 10px 0 10px 20px;
        margin-bottom: 40px;
        &:before{
          content:'';
          width: 5px;
          height: 100%;
          background: #e2574c;
          position: absolute;
          top: 0;
          left: 0;
        }
      }
      h2{
        background: #e2574c;
        color: #fff;
        display: table;
        padding: 20px 30px;
        font-size: 36px;
        text-transform: uppercase;
        margin-bottom: 30px;
      }
      h3{
        font-weight: lighter;
        color:#6298b3;
        font-size: 32px;
        text-shadow: 2px 2px 1px #111;
        letter-spacing: 2px;
      }
      .land-image{
        margin: -60px auto 0;
        display: table;
        max-width: 360px;
      }
    }
  }
}
.land-two{
  padding: 120px 0;
  background: #f3f3f3;
  h1{
    font-size: 48px;
    margin-bottom: 40px;
  }
  p{
    font-size: 24px;
    color: #444;
    line-height: 34px;
    margin-bottom: 30px;
  }
}
.land-three{
  position: relative;
  height: 480px;
  width: 100%;
  background: url("../images/abstract-bg.jpg");
  background-repeat: repeat-x;
  background-position: center center;
  display: table;
  .land-three-inner{
    display: table-cell;
    vertical-align: middle;
    h1{
      color: #fff;
      font-size: 76px;
      text-align: center;
    }
  }
}
.land-four{
  padding: 60px 0;
  background: #f3f3f3;
  h2{
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .article-list{
    ul{
      display: block;
      margin: 0 0 10px 0;
      padding: 0;
      li{
        list-style: none;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        a{
          display: block;
          padding: 10px 15px;
        }
      }
    }
  }
}
.article-box{
  display: block;
  padding-left: 80px;
  position: relative;
  .date{
    @include c-border-radius(50%,50%,50%,50%);
    position: absolute;
    width: 74px;
    height: 74px;
    left: 0;
    background: #e2574c;
    color: #fff;
    text-align: center;
    .date-month{
      font-size: 24px;
      position: relative;
      top: 12px;
      font-weight: bold;
    }
    .date-rem{
      color: #ccc;
      font-size: 12px;
      position: relative;
      top: 5px;
    }
    &.code{
      span{
        position: relative;
        top: 19px;
        font-size: 36px;
        font-weight: bold;
      }
    }
  }
  .article-content{
    display: block;
    padding-left: 10px;
    h4{
      color: #333;
    }
    p{
      color: #888;
      font-size: 16px;
    }
    p.author{
      color:#aaa;
      font-size: 12.5px;
    }
  }
}
.land-join{
  background: url('../images/main_bg.jpg');
  min-height: 200px;
  padding: 60px 0;
  h1{
    color: #fff;
    margin-bottom: 50px;
    small{
      font-style: italic;
      color: #f9f9f9;
      font-size: 20px;
      font-weight: lighter;
    }

  }
  p{

    line-height: 28px;
    font-size: 16px;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #fff;
    font-weight: lighter;
  }
}
.land-footer{
  background: #1b333f;
  padding: 30px 0;
  color: #aaa;
  p{
    a{
      color: #e2574c;
      font-weight: bold;
    }
  }
}
.btn{
  &.btn-primary.btn-red{
    background: #e2574c;
    border-color: #e2574c;
    &:hover,&:focus,&:active{
      background: #e2574c;
      border-color: #e2574c;
    }
  }
}
