@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,600);
@import 'bootstrap';
@import 'font-awesome.min';
@import 'common/common';

.open-source-category{
  padding: 20px 0;
  display: block;
  ul{
    display: table;
    margin: 0 auto;
    padding: 0;
    li{
      display: inline-block;
      margin-right: 10px;
      position: relative!important;
      top: auto!important;
      right: auto!important;
      left: auto!important;
      bottom: auto!important;
      &:last-child{
        margin-right: 0
      }
      a{
        padding: 10px 15px;
        border: 1px solid #ccc;
        display: block;
        @include c-border-radius(4px,4px,4px,4px);
        font-size: 17px;
        background: #cb0500;
        color: #fff;
        text-decoration: none;
        @include c-transition(all,0.3s, linear,0.04s);
        &:hover,&:active,&:focus{
          background: darken(#cb0500,10%);
        }
        &.active{
          background: darken(#cb0500,20%);
          text-decoration: none;
        }
      }
    }
  }
}
.open-source-projects{
  padding: 20px 0;
  ul{
    display: block;
    width: 100%;
    li{
      display: block;
      width: 100%;
      list-style: none;
      
    }
  }
}
.category-page{
  padding: 20px 0;
}
.project-box{
  display: block;
  margin-left: 360px;
  .project-box-left{
    margin-left: -360px;
    display: block;
    width: 360px;
    float: left;
    padding: 0 10px 0 0;
    .title{
      display: block;
      background: #333;
      color: #fff;
      padding: 15px;
      font-size: 24px;
      text-align: right;
      margin-top: 0;
    }
    .category{
      font-size: 17px;
      background: orange;
      color: #fff;
      display: table;
      margin-right: 0;
     margin-left: auto;
     padding: 10px;
    }
    .languages{
      margin: 0 0 0 auto;
      display: table;
      width: auto;
      li{
        display: block;
        list-style: none;
        width: auto;
        text-align: right;
        label{
          text-align: right;
        }
      }
    }
  }
  .project-box-right{
    display: block;   
    .social-media-accounts{
      width: auto;
      li{
        width: 20px;
        height: 20px;
        display: table;
        float: left;
        margin: 0 -2px; 
        .label{
          
        }
        .label:empty{
          display: inline-block;
        }
      }
    } 
  }
}
.category-image{
  width: 64px;
  height: 64px;
  display: block;
  img{
    width: 100%; 
  }
}
.project-contrib{
  width: 32px;
  height: 32px;
  display: inline-block;
  vertical-align: middle;
  img{
    max-width: 100%;
    @include c-border-radius(50%,50%,50%,50%)
  }
}

.project-footer-ul{
  margin: 0;
  padding: 0;
  li{
    list-style: none;
    b{
      vertical-align: middle;
    }
  }  
}

.section-join{
  padding: 40px 0;
  background: #e3e3e3;
  .inner-join{
    position: relative;
    padding-top: 10px; 
    &:before{
      content: "";
      width: 100%;
      height: 6px;
      background: #d30000;
      position: absolute;
      top: 0;
      left: 0;
    }
    &:after{
      content: "";
      width: 100%;
      height: 2px;
      background: #a90101;
      position: absolute;
      top: 8px;
      left: 0;
    }
    
  }
}

/** Category page with projects **/
.project-wrapper{
  margin: 0 -5px;
  padding: 0;
  >li{
    display: block;
    width: (100%/3);
    float: left;
    padding: 5px;
    > .panel{
      @include c-border-radius(0,0,0,0);
      .panel-body{
      }
    }
  }
}