<nav class="redpanther-navbar navbar navbar-default">
  <div class="container-fluid">
    <div class="row">
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav category-items" opt-kind="" ok-key="filter">
          <li>
            <a href="#">
              Join @ Red Panther
            </a>
          </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
          <li>
            <a href="">
              <span class="fa fa-search"></span>
            </a>
          </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="project-wrapper">
  <div class="container-fluid">
    <div class="project-inner">
      <div class="row ">
        <div class="col-xs-12">
          <div class="team-wrapper">
            <div class="panel panel-default">
              <div class="panel-body">
                <h1>Why should I join @ Redpanthers</h1>
                <hr>
                <div class="clearfix">
                  <img src="images/redpanther-employees.jpg" alt="img-responsive" class="pull-right img-circle image-right" width="320px">
                  <p>
                    Redpanthers Offer unlimited chance to grow yourself, unlike other companies you don't have anything to worry. You can always learn new things, new tools. We offer flexible time, day or night, also if you are unable to come Office, you can work from home.

                  </p>
                  <p>
                    Morbi sed pulvinar mi. In non luctus magna, non feugiat libero. Nunc ultrices erat in venenatis porta. Vestibulum eget nisl consectetur, mollis tellus a, blandit ex. Duis fermentum metus quis mauris fermentum dapibus. Quisque massa augue, vestibulum nec
                    nulla non, dictum sodales diam. Nullam eget faucibus risus, et dapibus ligula. Donec id velit dolor. Nulla fermentum lectus nisi, eu imperdiet ante gravida in. Nulla iaculis facilisis justo, sit amet dignissim lorem viverra id. Morbi
                    et libero non felis condimentum ornare.
                  </p>
                  <p>
                    Curabitur bibendum arcu at turpis pretium consectetur. Etiam eu egestas ex, quis tempus velit. Phasellus sagittis metus non erat convallis, eu volutpat sapien lacinia. Quisque hendrerit nec tortor eu consectetur. Quisque turpis arcu, molestie eget urna
                    vel, elementum ullamcorper turpis. Cras elementum urna at nunc rhoncus vehicula. Aenean commodo mollis hendrerit. Nam ante velit, posuere non elit eu, tempus mattis neque. Nam quam orci, pulvinar eu nisl et, lobortis sodales arcu.
                    Aliquam risus magna, aliquam vehicula viverra a, ornare non est. Morbi non risus sed libero posuere ultrices. Nullam ipsum dolor, vehicula eget pulvinar at, lacinia in quam. Quisque bibendum fringilla quam nec placerat. Phasellus consectetur
                    enim ut lacus lobortis elementum. Quisque dapibus justo sed arcu varius pellentesque. Cras eget leo id libero blandit faucibus.
                  </p>

                </div>
                <h1>Benefits</h1>
                <hr>
                <div class="clearfix">
                  <img src="images/redpanther-freedom_1.jpg" alt="" class="pull-left img-circle image-left" width="320px">
                  <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus hendrerit ex nec condimentum tempus. Cras molestie efficitur turpis, non ullamcorper dui hendrerit et. Fusce at quam id mi varius maximus. Etiam tempus, est at molestie sagittis, dui nisi
                    sagittis risus, efficitur ultricies metus tortor vel erat. Praesent et massa commodo, tincidunt nibh eu, posuere erat. Etiam eget leo justo. Nulla pretium vitae nunc vel feugiat. Vestibulum ac eros fringilla, ultricies neque in, fermentum
                    lacus.
                  </p>
                  <p>
                    Sed pharetra nisi eu finibus fermentum. Curabitur bibendum mi a lorem sagittis vestibulum. Sed in molestie est, quis imperdiet velit. Sed eu rutrum diam. Donec suscipit convallis neque, eget tempor lacus posuere vel. Donec ut lectus luctus, scelerisque
                    lacus sed, vestibulum sapien. Suspendisse aliquet pretium purus, a vulputate nisi. Sed dictum sem eu neque euismod, sit amet ultricies libero aliquet. Phasellus in magna pellentesque, porttitor diam quis, vulputate est. Mauris eget
                    maximus magna. Morbi rutrum mollis nulla at blandit. Ut in tortor commodo, lacinia lorem in, ullamcorper orci.
                  </p>
                  <h4>Benefits</h4>
                  <ul>
                    
    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</li>
    <li>Donec quis lectus volutpat, rhoncus turpis a, ornare neque.</li>

    <li>Suspendisse vel mauris ac mauris efficitur aliquam.</li>
    <li>Maecenas tempus magna in lorem gravida, a dapibus risus ullamcorper.</li>
    <li>Maecenas congue elit ut tortor semper, vitae gravida justo laoreet.</li>

    <li>Pellentesque feugiat nunc nec ultrices sodales.</li>

    <li>Sed mattis neque nec fermentum lacinia.</li>
    <li>Praesent rutrum velit ut lorem vulputate dapibus.</li>

    <li>Proin in purus nec mi hendrerit vulputate vel eu felis.</li>
    <li>Sed pulvinar enim ut turpis pulvinar, eget accumsan mi varius.</li>
    <li>Donec lobortis nunc nec metus venenatis vulputate.</li>
    <li>Ut vel magna nec lectus varius ullamcorper laoreet eu enim.</li>
    <li>Suspendisse aliquet mi viverra ipsum feugiat auctor.</li>
    <li>Fusce id nisi placerat, tempor metus ut, molestie lorem.</li>

                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>