<div class="section-join" smooth-scroll id="section-join">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="inner-join">
          <h1 class="title text-center">
            Join With Us?
          </h1> 
          <hr>
          <article>
            <h4>
              If you want to join @RedPanthers, fork 
              <a href="https://github.com/redpanthers/JoinUs" target="_blank">JoinUs</a>
               and follow instructions.
            </h4>
            <h5 class="footer-social-link">
              <a href="">
                <span class="fa fa-github"></span>
              </a>
              <a href="">
                <span class="fa fa-facebook"></span>
              </a>
              <a href="">
                <span class="fa fa-twitter"></span>
              </a>
              <a href="">
                <span class="fa fa-linkedin"></span>
              </a>
              
            </h5>
          </article>   
        </div>
      </div>
    </div>
  </div>
</div>