<div class="landing-home">
  <section class="land-one">
    <header>
      <nav class="navbar navbar-default">
        <div class="container">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
              <img src="images/logo.png" alt="" />
            </a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="#">Open Source</a></li>
              <li><a href="#">Talks</a></li>
              <li><a href="#">Team</a></li>
              <li><a href="#">Your Role</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>
    </header>
    <div class="land-one-content">
      <div class="land-one-inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12.col-sm-7 col-md-7">
              <div class="content-one">
                <h1>Open Source Projects</h1>
                <h2>Talks</h2>
                <h3>learn, share, teach ...</h3>
              </div>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-5">
              <img src="images/land-home-icon.jpg" alt=""  class="img-responsive img-circle land-image"/>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>
  <section class="land-two">
    <div class="container">
      <h1 class="text-center">Who We Are</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu ante ex. Nulla eleifend euismod congue. Nullam tristique volutpat orci sed finibus. Nullam tristique condimentum massa in hendrerit. Proin posuere ac nisl sit amet pulvinar. Cras lacinia tincidunt sapien nec aliquet. Nam pharetra nisi viverra, imperdiet massa at, maximus ex.</p>

      <p>Nullam pellentesque diam et purus sodales, consequat malesuada quam rutrum. Duis hendrerit dapibus tincidunt. Praesent massa justo, consequat quis nunc ac, ultrices vestibulum diam. Duis tincidunt tortor quis accumsan venenatis. Etiam aliquam lorem at ante consequat, a semper urna egestas.</p>
    </div>
  </section>
  <section class="land-three">
    <div class="land-three-inner">
      <h1>
        Lorem Lipsum
      </h1>
    </div>
  </section>
  <section class="land-four">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-6">
          <h2 class="text-center">Latest Articles </h2>
          <div class="article-list">
            <ul>
              <li><a href="">
                <div class="article-box">
                  <div class="date">
                    <span class="date-month">
                      JAN
                    </span>
                    <span class="date-rem">
                      15/2015
                    </span>
                  </div>
                  <div class="article-content">
                    <h4>Title</h4>
                    <p>
                      Content Goes here
                    </p>
                    <p class="author">
                      Authord by : John Doe
                    </p>
                  </div>
                </div>
              </a></li>
            </ul>
            <hr>
            <p class="text-right">
              <a href="#" class="btn btn-sm btn-red btn-primary">
                View All
              </a>

            </p>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <h2 class="text-center">Latest Projects </h2>
          <div class="article-list">
            <ul>
              <li><a href="">
                <div class="article-box">
                  <div class="date code">
                    <span class="fa fa-code"></span>
                  </div>
                  <div class="article-content">
                    <h4>Title</h4>
                    <p>
                      Content Goes here
                    </p>
                    <p class="author">
                      Authord by :
                    </p>
                  </div>
                </div>
              </a></li>
            </ul>
            <hr>
            <p class="text-right">
              <a href="#" class="btn btn-sm btn-red btn-primary">
                View All
              </a>

            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="land-join">
    <div class="container">
      <h1 class="text-center">
        Great Opertunities for you
        }
        <small> Join @ Redpanthers</small>
      </h1>
      <article id="">
        <p class="text-justify">
          Nam dictum neque elit, et lobortis eros lacinia id. Sed sem neque, mattis eget tortor sed, pharetra gravida lectus. Ut consequat urna eu scelerisque auctor. Cras sagittis a libero at dictum. Nam rhoncus est at arcu pharetra consequat. Etiam sit amet arcu nisi. Ut at augue egestas, condimentum odio quis, commodo augue. Maecenas vehicula arcu congue lacus porttitor, ullamcorper dictum massa laoreet. In gravida orci sit amet nisl suscipit, ac pretium leo elementum. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec tincidunt feugiat metus nec mollis. Phasellus maximus justo ut nunc sodales, et commodo diam mollis. Suspendisse sodales laoreet urna, vel tempus dui convallis rhoncus. Phasellus vel rhoncus massa. Donec tempor elit laoreet, pellentesque justo in, luctus arcu. Mauris non dui nec massa iaculis porta.
        </p>
      </article>
    </div>
  </section>
  <section class="land-footer">
    <div class="container">
      <p class="text-center">
        Copyright @ 2015 <a href="#">Redpanthers </a>
      </p>
    </div>
  </section>
</div>
