<div class="container"> 
  <div class="row">
    <div class="col-xs-12">
      <div class="category-page">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-lg-3" ng-repeat="category in categories">
          <div class="panel panel-default">
            <div class="panel-body">
               <div class="media" ui-sref="categoryPage({categorySlug:category.categorySlug})">
                 <div class="media-left">
                   <a href="" class="category-image">
                     <img ng-src="images/categories/{{category.categoryImage}}" alt="{{category.categoryName
                     }}" class="img-responsive ">
                   </a>
                 </div>
                 <div class="media-body">
                   <h4 class="media-heading">
                     {{category.categoryName}}
                   </h4>
                   <p>
                     Projects: 
                     <span class="label label-info">
                       {{category.categoryProjects}}
                     </span>
                   </p>
                 </div>
               </div>
            </div>            
          </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</div>