<div class="content">
  <div class="header-section">

  </div>
  <div class="body-section">
<div class="container-fluid">

  <div class="row">
    <div class="project-list-nav">
      <nav class="redpanther-navbar navbar navbar-default">
        <div class="container-fluid">
          <div class="row">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav category-items" opt-kind="" ok-key="filter">
                <li>
                  <a ui-sref="contributions">
                    <div class="first-letter">
                      <span class="fa fa-chevron-left"></span>
                    </div>
                    <div class="letter">Back</div>
                  </a>
                </li>
                <li ng-show="getCategoryList.length> 0? true : false">
                  <a href="#" ok-sel=".project-list">
                    <div class="first-letter">G</div>
                    <div class="letter">GitHub</div>
                  </a>
                </li>
                <li ng-show="rubyGemArray.length > 0">
                  <a href="#" ok-sel=".project-list">
                    <div class="first-letter">R</div>
                    <div class="letter">Ruby Gems</div>
                  </a>
                </li>
                <li ng-repeat="category in getCategoryList track by $index">
                  <a href="#" ok-sel="[lang='{{category | lowercase}}']">
                    <div class="first-letter">
                      {{category | returnFirstLetter }}
                    </div>
                    <div class="letter">
                      {{category}}
                    </div>
                  </a>
                </li>
              </ul>
              <ul class="nav navbar-nav pull-right">
                <li>
                  <a href="">
                    <span class="fa fa-search"></span>
                  </a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
        </div>
        <!-- /.container-fluid -->
      </nav>
      <!-- Category List section -->
      <div class="project-wrapper">
        <div class="container-fluid">
          <div class="project-inner">
            <div class="row ">
              <div class="col-xs-12">
                <div class="project-list-wrapper" isotope-container="isotope-container" ng-cloak="">
                  <div ng-show="getProjects.length>0" class="home project-list" lang="{{project.language | lowercase}}" ng-repeat="project in getProjects" isotope-item="" ng-hide="project.fork">
                    <div class="project">
                      <a class="title clearfix" href="{{project.html_url}}" target="_blank">
                        <h4>
                          {{project.name}}
                        </h4>
                      </a>
                      <div class="title-letter">
                        {{project.name | returnFirstLetter }}
                      </div>
                      <div class="title-info clearfix">
                        <a href="" class="pull-left owner">
                          {{project.projectOwner}}
                        </a>
                        <ul class="pull-right status">
                          <li>
                            <a href="">
                              <span class="fa fa-star"></span> {{project.stargazers_count}}
                            </a>
                          </li>
                          <li>
                            <a href="">
                              <span class="fa fa-code-fork"></span> {{project.forks}}
                            </a>
                          </li>
                          <li>
                            <a href="">
                              <span class="fa fa-code"></span> {{project.language}}
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="description">
                        {{project.description}}
                      </div>
                    </div>
                  </div>


                <div class="project-list ruby" ng-repeat="project in rubyGemArray" ng-show="rubyGemArray.length > 0">
                    <div class="project">
                      <a class="title clearfix" href="{{project.gem_uri}}" target="_blank">
                        <h4>
                          {{project.name}}
                        </h4>
                      </a>
                      <div class="title-letter">
                        {{project.name | returnFirstLetter }}
                      </div>
                      <div class="title-info clearfix">
                        <a href="" class="pull-left owner">
                    {{project.projectOwner}}
                  </a>
                        <ul class="pull-right status">

                          <li>
                            <a href="">
                              <span class="fa fa-cloud-download"></span> {{project.downloads}}
                            </a>
                          </li>
                          <li>
                            <a href="">
                              <span class="fa fa-code"></span> {{project.platform}}
                            </a>
                          </li>
                        </ul>
                      </div>
                      <div class="description">

                      </div>
                    </div>
                  </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
