      <div class="sidebar">
        <div class="top-brand">
          <ul class="top-sidebar-menus">
            <li>
              <a href="#">
                <span class="fa fa-home"></span>
                Home
              </a>
            </li>
            <li>
            <a ui-sref="contributions">
              <span class="fa fa-code"></span>
              Contributions
            </a>
            </li>
            <li>
            <a href="#/team">
              <span class="fa fa-users"></span>
              Team
            </a>
            </li>
            <li>
            <a ui-sref="join">
              <span class="fa fa-user-plus"></span>
              Join
            </a>
            </li>
            <li>
          </ul>
        </div>
        <div class="bottom-brand">
          <div class="brand-logo">
            <img src="images/logo_21.png" alt="">
          </div>
          <div class="brand-social">
            <ul class="social">
              <li><a href="" target="_blank"><span class="fa fa-facebook"></span></a></li>
              <li><a href="" target="_blank"><span class="fa fa-twitter"></span></a></li>
              <li><a href="" target="_blank"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="" target="_blank"><span class="fa fa-youtube"></span></a></li>
              <li><a href="" target="_blank"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
      </div>
